textarea {
  height: 100px;
}
@media only screen and (max-width: 768px) {
  .form {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .form {
    width: 65%;
  }
}
@media only screen and (max-width: 390px) {
  .form {
    width: 85%;
  }
}
